$bg-primary: #fde0da;
$bg-secondary: #ffffff;
$text-primary: #333;
$text-secondary: #f19f9f;

$icon-color: #c96262;

$bg-btn: #db969e;
$bg-btn-hover: #dfa19b;
$border-clr: #c96262;

$marker-clr: #a73232;
