// Utilities
@import "_variables";

.primaryBgColor {
  background: $bg-primary;
}
.secondaryBgColor {
  background: $bg-secondary;
}

.bgBtn {
  background-color: $bg-btn;
}

.bgBtn:hover {
  background-color: $bg-btn-hover;
  transition: all ease-in-out 0.6s;
}

.textSecondary {
  color: $bg-secondary;
}

.textPrimary {
  color: $text-primary;
}

.borderClr {
  border-bottom: 1px solid $border-clr;
}

.borderBClr {
  border-bottom: 2px solid $border-clr;
}

.navMenu {
  li {
    color: $text-primary;
  }
}
